In [1]:
import sqlite3
import json
from datetime import datetime

In [2]:
timeframe = '2015-01'
sql_transaction = []

conn = sqlite3.connect('{}.db'.format(timeframe))
cur = conn.cursor()

In [3]:
def create_table():
    cur.execute("CREATE TABLE IF NOT EXISTS parent_reply(parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)")

In [4]:
create_table()

In [5]:
row_counter = 0
paired_rows = 0

In [6]:
def format_data(data):
    data = data.replace('\n', ' newlinechar ').replace('\r', ' newlinechar ').replace('"', "'")
    return data

In [7]:
def find_parent(pid):
    try:
        sql = 'select comment from parent_reply where comment_id = "{}" limit 1'.format(pid)
        cur.execute(sql)
        result = cur.fetchone()
        if result != None:
            return result[0]
        else:
            return False
    except Exception as e:
        print("find_parent", e)
        return False

In [8]:
def find_existing_score(pid):
    try:
        sql = 'select score from parent_reply where parent_id = "{}" limit 1'.format(pid)
        cur.execute(sql)
        result = cur.fetchone()
        if result != None:
            return result[0]
        else:
            return False
    except Exception as e:
        print("find_parent_score", e)
        return False

In [9]:
def acceptable(data):
    if len(data.split(' ')) > 50  or len(data) < 1:
        return False
    elif len(data) > 1000:
        return False
    elif data == '[deleted]' or data == '[removed]':
        return False
    else:
        return True

In [10]:
def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        cur.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                cur.execute(s)
            except:
                pass
        conn.commit()
        sql_transaction = []

In [11]:
def sql_insert_replace_comment(commentid,parentid, parent, comment, subreddit,time,score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
        
    except Exception as e:
        print('s0 insertion', str(e))

In [12]:
def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s-PARENT insertion',str(e))

In [13]:
def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s-NO_PARENT insertion',str(e))

In [15]:
with open('RC_2015-01.json', buffering=1000) as f:
    for row in f:
        row_counter += 1
        row = json.loads(row)
        parent_id = row['parent_id']
        body = format_data(row['body'])
        created_utc = row['created_utc']
        score = row['score']
        comment_id = row['name']
        subreddit = row['subreddit']
        parent_data = find_parent(parent_id)
        if score >= 2:
            existing_comment_score = find_existing_score(parent_id)
            if existing_comment_score:
                if score > existing_comment_score:
                    if acceptable(body):
                        sql_insert_replace_comment(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)

            else:
                if acceptable(body):
                    if parent_data:
                        sql_insert_has_parent(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                        paired_rows += 1
                    else:
                        sql_insert_no_parent(comment_id,parent_id,body,subreddit,created_utc,score)
                            
        if row_counter % 100000 == 0:
            print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))

Total Rows Read: 200000, Paired Rows: 5260, Time: 2017-11-29 20:01:21.448648
Total Rows Read: 300000, Paired Rows: 6843, Time: 2017-11-29 20:02:00.291825
Total Rows Read: 400000, Paired Rows: 12077, Time: 2017-11-29 20:03:54.021570
Total Rows Read: 500000, Paired Rows: 17426, Time: 2017-11-29 20:05:39.692002
Total Rows Read: 600000, Paired Rows: 22691, Time: 2017-11-29 20:07:37.053514
Total Rows Read: 700000, Paired Rows: 27368, Time: 2017-11-29 20:10:04.336053
Total Rows Read: 800000, Paired Rows: 31894, Time: 2017-11-29 20:11:57.208449
Total Rows Read: 900000, Paired Rows: 37162, Time: 2017-11-29 20:13:51.905734
Total Rows Read: 1000000, Paired Rows: 42853, Time: 2017-11-29 20:15:41.826213
Total Rows Read: 1100000, Paired Rows: 48398, Time: 2017-11-29 20:17:25.721848
Total Rows Read: 1200000, Paired Rows: 54028, Time: 2017-11-29 20:18:56.149047
Total Rows Read: 1300000, Paired Rows: 59605, Time: 2017-11-29 20:20:30.998344
Total Rows Read: 1400000, Paired Rows: 65246, Time: 2017-11-29 20:22:06.528881
Total Rows Read: 1500000, Paired Rows: 70683, Time: 2017-11-29 20:23:44.155746
Total Rows Read: 1600000, Paired Rows: 76146, Time: 2017-11-29 20:25:22.843427
Total Rows Read: 1700000, Paired Rows: 81425, Time: 2017-11-29 20:26:55.656869
Total Rows Read: 1800000, Paired Rows: 87024, Time: 2017-11-29 20:28:33.839230
Total Rows Read: 1900000, Paired Rows: 92191, Time: 2017-11-29 20:30:05.463999
Total Rows Read: 2000000, Paired Rows: 97162, Time: 2017-11-29 20:31:36.288693
Total Rows Read: 2100000, Paired Rows: 102917, Time: 2017-11-29 20:33:06.505846
Total Rows Read: 2200000, Paired Rows: 108232, Time: 2017-11-29 20:34:30.228704
Total Rows Read: 2300000, Paired Rows: 112954, Time: 2017-11-29 20:35:45.870792
Total Rows Read: 2400000, Paired Rows: 118000, Time: 2017-11-29 20:36:59.893202
Total Rows Read: 2500000, Paired Rows: 123600, Time: 2017-11-29 20:38:07.868055
Total Rows Read: 2600000, Paired Rows: 129427, Time: 2017-11-29 20:39:12.566334
Total Rows Read: 2700000, Paired Rows: 135371, Time: 2017-11-29 20:41:24.586453
Total Rows Read: 2800000, Paired Rows: 141639, Time: 2017-11-29 20:42:30.776603
Total Rows Read: 2900000, Paired Rows: 147647, Time: 2017-11-29 20:43:46.331584
Total Rows Read: 3000000, Paired Rows: 153512, Time: 2017-11-29 20:45:01.373263
Total Rows Read: 3100000, Paired Rows: 159490, Time: 2017-11-29 20:46:18.379604
Total Rows Read: 3200000, Paired Rows: 165393, Time: 2017-11-29 20:47:43.533504
Total Rows Read: 3300000, Paired Rows: 171380, Time: 2017-11-29 20:49:10.219958
Total Rows Read: 3400000, Paired Rows: 176914, Time: 2017-11-29 20:50:39.077011
Total Rows Read: 3500000, Paired Rows: 182506, Time: 2017-11-29 20:52:12.545737
Total Rows Read: 3600000, Paired Rows: 188233, Time: 2017-11-29 20:53:45.313739
Total Rows Read: 3700000, Paired Rows: 193909, Time: 2017-11-29 20:55:17.017944
Total Rows Read: 3800000, Paired Rows: 199394, Time: 2017-11-29 20:56:37.655580
Total Rows Read: 3900000, Paired Rows: 204502, Time: 2017-11-29 20:57:57.013799
Total Rows Read: 4000000, Paired Rows: 209426, Time: 2017-11-29 20:59:20.422546
Total Rows Read: 4100000, Paired Rows: 214713, Time: 2017-11-29 21:00:50.153641
Total Rows Read: 4200000, Paired Rows: 220385, Time: 2017-11-29 21:02:17.250599
Total Rows Read: 4300000, Paired Rows: 226246, Time: 2017-11-29 21:03:44.825984
Total Rows Read: 4400000, Paired Rows: 232137, Time: 2017-11-29 21:05:13.422897
Total Rows Read: 4500000, Paired Rows: 237905, Time: 2017-11-29 21:06:39.659924
Total Rows Read: 4600000, Paired Rows: 243694, Time: 2017-11-29 21:08:07.091074
Total Rows Read: 4700000, Paired Rows: 249140, Time: 2017-11-29 21:09:33.704528
Total Rows Read: 4800000, Paired Rows: 254580, Time: 2017-11-29 21:11:01.515015
Total Rows Read: 4900000, Paired Rows: 260308, Time: 2017-11-29 21:12:34.841093
Total Rows Read: 5000000, Paired Rows: 266115, Time: 2017-11-29 21:14:06.090201
Total Rows Read: 5100000, Paired Rows: 271661, Time: 2017-11-29 21:15:31.812815
Total Rows Read: 5200000, Paired Rows: 277364, Time: 2017-11-29 21:16:55.221120
Total Rows Read: 5300000, Paired Rows: 283140, Time: 2017-11-29 21:18:21.868976
Total Rows Read: 5400000, Paired Rows: 288874, Time: 2017-11-29 21:19:50.080345
Total Rows Read: 5500000, Paired Rows: 294088, Time: 2017-11-29 21:21:07.121401
Total Rows Read: 5600000, Paired Rows: 299048, Time: 2017-11-29 21:22:17.714726
Total Rows Read: 5700000, Paired Rows: 304415, Time: 2017-11-29 21:23:24.047021
Total Rows Read: 5800000, Paired Rows: 309918, Time: 2017-11-29 21:24:24.257672
Total Rows Read: 5900000, Paired Rows: 315499, Time: 2017-11-29 21:25:24.234359
Total Rows Read: 6000000, Paired Rows: 321240, Time: 2017-11-29 21:26:22.689369
Total Rows Read: 6100000, Paired Rows: 326895, Time: 2017-11-29 21:27:18.078740
Total Rows Read: 6200000, Paired Rows: 332589, Time: 2017-11-29 21:28:16.876769
Total Rows Read: 6300000, Paired Rows: 338065, Time: 2017-11-29 21:29:11.623092
Total Rows Read: 6400000, Paired Rows: 343371, Time: 2017-11-29 21:30:09.160080
Total Rows Read: 6500000, Paired Rows: 348178, Time: 2017-11-29 21:31:05.471990
Total Rows Read: 6600000, Paired Rows: 353962, Time: 2017-11-29 21:32:03.438665
Total Rows Read: 6700000, Paired Rows: 359992, Time: 2017-11-29 21:33:01.905218
Total Rows Read: 6800000, Paired Rows: 366039, Time: 2017-11-29 21:34:03.411074
Total Rows Read: 6900000, Paired Rows: 371881, Time: 2017-11-29 21:35:07.051322
Total Rows Read: 7000000, Paired Rows: 377810, Time: 2017-11-29 21:36:12.612133
Total Rows Read: 7100000, Paired Rows: 383184, Time: 2017-11-29 21:37:18.753925
Total Rows Read: 7200000, Paired Rows: 388332, Time: 2017-11-29 21:38:21.490787
Total Rows Read: 7300000, Paired Rows: 393669, Time: 2017-11-29 21:39:24.000269
Total Rows Read: 7400000, Paired Rows: 399250, Time: 2017-11-29 21:40:28.106749
Total Rows Read: 7500000, Paired Rows: 405049, Time: 2017-11-29 21:41:29.640614
Total Rows Read: 7600000, Paired Rows: 411106, Time: 2017-11-29 21:42:35.945690
Total Rows Read: 7700000, Paired Rows: 417341, Time: 2017-11-29 21:43:38.814413
Total Rows Read: 7800000, Paired Rows: 423371, Time: 2017-11-29 21:44:43.838856
Total Rows Read: 7900000, Paired Rows: 429121, Time: 2017-11-29 21:45:52.533668
Total Rows Read: 8000000, Paired Rows: 435072, Time: 2017-11-29 21:46:56.425293
Total Rows Read: 8100000, Paired Rows: 441151, Time: 2017-11-29 21:48:00.144408
Total Rows Read: 8200000, Paired Rows: 446978, Time: 2017-11-29 21:49:06.236102
Total Rows Read: 8300000, Paired Rows: 452853, Time: 2017-11-29 21:50:08.724556
Total Rows Read: 8400000, Paired Rows: 458370, Time: 2017-11-29 21:51:10.025955
Total Rows Read: 8500000, Paired Rows: 463809, Time: 2017-11-29 21:52:18.225834
Total Rows Read: 8600000, Paired Rows: 469325, Time: 2017-11-29 21:53:22.812913
Total Rows Read: 8700000, Paired Rows: 475021, Time: 2017-11-29 21:54:28.122238
Total Rows Read: 8800000, Paired Rows: 480560, Time: 2017-11-29 21:55:36.751152
Total Rows Read: 8900000, Paired Rows: 485561, Time: 2017-11-29 21:56:39.260915
Total Rows Read: 9000000, Paired Rows: 490684, Time: 2017-11-29 21:57:40.652558
Total Rows Read: 9100000, Paired Rows: 496154, Time: 2017-11-29 21:58:41.832365
Total Rows Read: 9200000, Paired Rows: 501872, Time: 2017-11-29 21:59:38.202259
Total Rows Read: 9300000, Paired Rows: 507982, Time: 2017-11-29 22:00:54.484267
Total Rows Read: 9400000, Paired Rows: 514090, Time: 2017-11-29 22:01:54.531834
Total Rows Read: 9500000, Paired Rows: 520276, Time: 2017-11-29 22:02:52.800249
Total Rows Read: 9600000, Paired Rows: 526268, Time: 2017-11-29 22:03:51.096314
Total Rows Read: 9700000, Paired Rows: 532535, Time: 2017-11-29 22:04:57.846754
Total Rows Read: 9800000, Paired Rows: 538654, Time: 2017-11-29 22:06:00.748893
Total Rows Read: 9900000, Paired Rows: 544827, Time: 2017-11-29 22:07:05.158527
Total Rows Read: 10000000, Paired Rows: 550872, Time: 2017-11-29 22:08:07.648868
Total Rows Read: 10100000, Paired Rows: 557022, Time: 2017-11-29 22:09:13.786931
Total Rows Read: 10200000, Paired Rows: 562862, Time: 2017-11-29 22:10:15.869164
Total Rows Read: 10300000, Paired Rows: 568783, Time: 2017-11-29 22:11:20.757595
Total Rows Read: 10400000, Paired Rows: 574460, Time: 2017-11-29 22:12:27.859722

Total Rows Read: 10500000, Paired Rows: 580189, Time: 2017-11-29 22:13:32.862802
Total Rows Read: 10600000, Paired Rows: 585666, Time: 2017-11-29 22:14:39.034013
Total Rows Read: 10700000, Paired Rows: 590643, Time: 2017-11-29 22:15:47.157879
Total Rows Read: 10800000, Paired Rows: 595553, Time: 2017-11-29 22:16:48.146284
Total Rows Read: 10900000, Paired Rows: 600836, Time: 2017-11-29 22:17:49.002543
Total Rows Read: 11000000, Paired Rows: 606448, Time: 2017-11-29 22:18:52.207589
Total Rows Read: 11100000, Paired Rows: 612385, Time: 2017-11-29 22:19:55.834748
Total Rows Read: 11200000, Paired Rows: 618497, Time: 2017-11-29 22:21:05.623640
Total Rows Read: 11300000, Paired Rows: 624392, Time: 2017-11-29 22:22:10.348319
Total Rows Read: 11400000, Paired Rows: 630520, Time: 2017-11-29 22:23:17.410968
Total Rows Read: 11500000, Paired Rows: 636708, Time: 2017-11-29 22:24:21.757959
Total Rows Read: 11600000, Paired Rows: 642887, Time: 2017-11-29 22:25:29.833687
Total Rows Read: 11700000, Paired Rows: 649045, Time: 2017-11-29 22:26:34.905187
Total Rows Read: 11800000, Paired Rows: 655037, Time: 2017-11-29 22:27:40.361883
Total Rows Read: 11900000, Paired Rows: 660837, Time: 2017-11-29 22:28:47.196792
Total Rows Read: 12000000, Paired Rows: 666623, Time: 2017-11-29 22:29:56.197252
Total Rows Read: 12100000, Paired Rows: 672479, Time: 2017-11-29 22:31:20.507972
Total Rows Read: 12200000, Paired Rows: 678271, Time: 2017-11-29 22:32:38.054265
Total Rows Read: 12300000, Paired Rows: 684011, Time: 2017-11-29 22:33:57.319681
Total Rows Read: 12400000, Paired Rows: 689864, Time: 2017-11-29 22:35:04.444311
Total Rows Read: 12500000, Paired Rows: 695163, Time: 2017-11-29 22:36:13.101616
Total Rows Read: 12600000, Paired Rows: 700072, Time: 2017-11-29 22:37:20.238145
Total Rows Read: 12700000, Paired Rows: 705194, Time: 2017-11-29 22:38:38.873420
Total Rows Read: 12800000, Paired Rows: 710751, Time: 2017-11-29 22:40:00.317630
Total Rows Read: 12900000, Paired Rows: 716699, Time: 2017-11-29 22:41:24.240166
Total Rows Read: 13000000, Paired Rows: 722849, Time: 2017-11-29 22:42:49.780842
Total Rows Read: 13100000, Paired Rows: 729028, Time: 2017-11-29 22:44:16.287386
Total Rows Read: 13200000, Paired Rows: 735318, Time: 2017-11-29 22:45:44.204638
Total Rows Read: 13300000, Paired Rows: 741541, Time: 2017-11-29 22:47:11.147130
Total Rows Read: 13400000, Paired Rows: 747861, Time: 2017-11-29 22:48:33.161687
Total Rows Read: 13500000, Paired Rows: 754086, Time: 2017-11-29 22:49:52.054425
Total Rows Read: 13600000, Paired Rows: 759698, Time: 2017-11-29 22:51:13.087113
Total Rows Read: 13700000, Paired Rows: 765710, Time: 2017-11-29 22:52:42.284736
Total Rows Read: 13800000, Paired Rows: 771495, Time: 2017-11-29 22:54:03.319259
Total Rows Read: 13900000, Paired Rows: 777423, Time: 2017-11-29 22:55:20.599385
Total Rows Read: 14000000, Paired Rows: 783308, Time: 2017-11-29 22:56:30.947659
Total Rows Read: 14100000, Paired Rows: 789187, Time: 2017-11-29 22:57:43.629435
Total Rows Read: 14200000, Paired Rows: 795088, Time: 2017-11-29 22:59:00.822915
Total Rows Read: 14300000, Paired Rows: 800542, Time: 2017-11-29 23:00:22.563953
Total Rows Read: 14400000, Paired Rows: 805393, Time: 2017-11-29 23:01:37.981599
Total Rows Read: 14500000, Paired Rows: 810425, Time: 2017-11-29 23:02:52.350767
Total Rows Read: 14600000, Paired Rows: 815912, Time: 2017-11-29 23:04:09.290491
Total Rows Read: 14700000, Paired Rows: 821597, Time: 2017-11-29 23:05:24.886722
Total Rows Read: 14800000, Paired Rows: 827524, Time: 2017-11-29 23:06:33.694895
Total Rows Read: 14900000, Paired Rows: 833692, Time: 2017-11-29 23:07:45.014791
Total Rows Read: 15000000, Paired Rows: 839644, Time: 2017-11-29 23:09:01.627852
Total Rows Read: 15100000, Paired Rows: 845888, Time: 2017-11-29 23:10:21.202582
Total Rows Read: 15200000, Paired Rows: 852117, Time: 2017-11-29 23:11:37.728831
Total Rows Read: 15300000, Paired Rows: 858495, Time: 2017-11-29 23:12:57.489873
Total Rows Read: 15400000, Paired Rows: 864552, Time: 2017-11-29 23:14:17.458688
Total Rows Read: 15500000, Paired Rows: 870550, Time: 2017-11-29 23:15:38.946694
Total Rows Read: 15600000, Paired Rows: 876319, Time: 2017-11-29 23:16:58.432960
Total Rows Read: 15700000, Paired Rows: 882019, Time: 2017-11-29 23:18:18.626753
Total Rows Read: 15800000, Paired Rows: 887529, Time: 2017-11-29 23:19:32.447269
Total Rows Read: 15900000, Paired Rows: 893155, Time: 2017-11-29 23:20:48.926593
Total Rows Read: 16000000, Paired Rows: 898619, Time: 2017-11-29 23:22:10.505580
Total Rows Read: 16100000, Paired Rows: 903701, Time: 2017-11-29 23:23:26.154858
Total Rows Read: 16200000, Paired Rows: 908398, Time: 2017-11-29 23:24:36.791010
Total Rows Read: 16300000, Paired Rows: 913451, Time: 2017-11-29 23:25:53.588729
Total Rows Read: 16400000, Paired Rows: 919057, Time: 2017-11-29 23:27:04.530058
Total Rows Read: 16500000, Paired Rows: 924899, Time: 2017-11-29 23:28:16.399379
Total Rows Read: 16600000, Paired Rows: 930742, Time: 2017-11-29 23:29:30.720385
Total Rows Read: 16700000, Paired Rows: 936656, Time: 2017-11-29 23:30:48.131872
Total Rows Read: 16800000, Paired Rows: 942897, Time: 2017-11-29 23:32:09.915140
Total Rows Read: 16900000, Paired Rows: 948389, Time: 2017-11-29 23:33:22.446653
Total Rows Read: 17000000, Paired Rows: 953847, Time: 2017-11-29 23:34:36.195013
Total Rows Read: 17100000, Paired Rows: 959120, Time: 2017-11-29 23:36:02.390439
Total Rows Read: 17200000, Paired Rows: 964514, Time: 2017-11-29 23:37:14.409256
Total Rows Read: 17300000, Paired Rows: 970034, Time: 2017-11-29 23:38:30.009456
Total Rows Read: 17400000, Paired Rows: 975545, Time: 2017-11-29 23:39:46.466787
Total Rows Read: 17500000, Paired Rows: 981493, Time: 2017-11-29 23:41:10.822610
Total Rows Read: 17600000, Paired Rows: 987341, Time: 2017-11-29 23:42:31.622805
Total Rows Read: 17700000, Paired Rows: 992617, Time: 2017-11-29 23:43:50.530793
Total Rows Read: 17800000, Paired Rows: 997610, Time: 2017-11-29 23:45:08.945780
Total Rows Read: 17900000, Paired Rows: 1002635, Time: 2017-11-29 23:46:31.119258
Total Rows Read: 18000000, Paired Rows: 1008226, Time: 2017-11-29 23:47:49.768639
Total Rows Read: 18100000, Paired Rows: 1013917, Time: 2017-11-29 23:49:04.425853
Total Rows Read: 18200000, Paired Rows: 1019496, Time: 2017-11-29 23:50:16.587691
Total Rows Read: 18300000, Paired Rows: 1025126, Time: 2017-11-29 23:51:33.636056
Total Rows Read: 18400000, Paired Rows: 1030458, Time: 2017-11-29 23:52:52.355257
Total Rows Read: 18500000, Paired Rows: 1035610, Time: 2017-11-29 23:54:04.241682
Total Rows Read: 18600000, Paired Rows: 1041415, Time: 2017-11-29 23:55:22.086986
Total Rows Read: 18700000, Paired Rows: 1047195, Time: 2017-11-29 23:56:44.014567
Total Rows Read: 18800000, Paired Rows: 1052565, Time: 2017-11-29 23:57:58.573734
Total Rows Read: 18900000, Paired Rows: 1058589, Time: 2017-11-29 23:59:14.214983
Total Rows Read: 19000000, Paired Rows: 1064562, Time: 2017-11-30 00:00:39.617457
Total Rows Read: 19100000, Paired Rows: 1070602, Time: 2017-11-30 00:02:03.890187
Total Rows Read: 19200000, Paired Rows: 1076371, Time: 2017-11-30 00:03:21.126949
Total Rows Read: 19300000, Paired Rows: 1082044, Time: 2017-11-30 00:04:41.839974
Total Rows Read: 19400000, Paired Rows: 1087247, Time: 2017-11-30 00:05:53.698451
Total Rows Read: 19500000, Paired Rows: 1092380, Time: 2017-11-30 00:07:06.328811
Total Rows Read: 19600000, Paired Rows: 1097977, Time: 2017-11-30 00:08:24.865039
Total Rows Read: 19700000, Paired Rows: 1103855, Time: 2017-11-30 00:09:34.026070
Total Rows Read: 19800000, Paired Rows: 1110055, Time: 2017-11-30 00:10:40.967106
Total Rows Read: 19900000, Paired Rows: 1116158, Time: 2017-11-30 00:11:47.667852
Total Rows Read: 20000000, Paired Rows: 1122209, Time: 2017-11-30 00:12:49.690938
Total Rows Read: 20100000, Paired Rows: 1128396, Time: 2017-11-30 00:13:52.319031
Total Rows Read: 20200000, Paired Rows: 1134627, Time: 2017-11-30 00:14:55.258166
Total Rows Read: 20300000, Paired Rows: 1140758, Time: 2017-11-30 00:16:07.528387
Total Rows Read: 20400000, Paired Rows: 1146939, Time: 2017-11-30 00:17:25.502290
Total Rows Read: 20500000, Paired Rows: 1152927, Time: 2017-11-30 00:18:36.706608

Total Rows Read: 20600000, Paired Rows: 1158617, Time: 2017-11-30 00:19:44.590017
Total Rows Read: 20700000, Paired Rows: 1163883, Time: 2017-11-30 00:20:47.980232
Total Rows Read: 20800000, Paired Rows: 1169311, Time: 2017-11-30 00:22:02.464782
Total Rows Read: 20900000, Paired Rows: 1174542, Time: 2017-11-30 00:23:12.493517
Total Rows Read: 21000000, Paired Rows: 1179921, Time: 2017-11-30 00:24:23.852829
Total Rows Read: 21100000, Paired Rows: 1185340, Time: 2017-11-30 00:25:33.107944
Total Rows Read: 21200000, Paired Rows: 1189947, Time: 2017-11-30 00:26:32.917409
Total Rows Read: 21300000, Paired Rows: 1194853, Time: 2017-11-30 00:27:35.512074
Total Rows Read: 21400000, Paired Rows: 1200280, Time: 2017-11-30 00:28:36.151591
Total Rows Read: 21500000, Paired Rows: 1206103, Time: 2017-11-30 00:29:39.470472
Total Rows Read: 21600000, Paired Rows: 1212054, Time: 2017-11-30 00:30:44.545443
Total Rows Read: 21700000, Paired Rows: 1218005, Time: 2017-11-30 00:31:45.552865
Total Rows Read: 21800000, Paired Rows: 1224234, Time: 2017-11-30 00:32:53.189260
Total Rows Read: 21900000, Paired Rows: 1230030, Time: 2017-11-30 00:34:00.764921
Total Rows Read: 22000000, Paired Rows: 1235886, Time: 2017-11-30 00:35:02.833917
Total Rows Read: 22100000, Paired Rows: 1241496, Time: 2017-11-30 00:36:08.888232
Total Rows Read: 22200000, Paired Rows: 1247061, Time: 2017-11-30 00:37:16.872833
Total Rows Read: 22300000, Paired Rows: 1252768, Time: 2017-11-30 00:38:25.907184
Total Rows Read: 22400000, Paired Rows: 1258525, Time: 2017-11-30 00:39:32.112068
Total Rows Read: 22500000, Paired Rows: 1264481, Time: 2017-11-30 00:40:39.906426
Total Rows Read: 22600000, Paired Rows: 1270361, Time: 2017-11-30 00:41:41.339575
Total Rows Read: 22700000, Paired Rows: 1276294, Time: 2017-11-30 00:42:41.021775
Total Rows Read: 22800000, Paired Rows: 1282090, Time: 2017-11-30 00:43:46.685009
Total Rows Read: 22900000, Paired Rows: 1287585, Time: 2017-11-30 00:44:51.075920
Total Rows Read: 23000000, Paired Rows: 1292722, Time: 2017-11-30 00:46:02.673714
Total Rows Read: 23100000, Paired Rows: 1297426, Time: 2017-11-30 00:47:08.884977
Total Rows Read: 23200000, Paired Rows: 1302771, Time: 2017-11-30 00:48:10.448677
Total Rows Read: 23300000, Paired Rows: 1308464, Time: 2017-11-30 00:49:14.425405
Total Rows Read: 23400000, Paired Rows: 1314561, Time: 2017-11-30 00:50:19.216214
Total Rows Read: 23500000, Paired Rows: 1320559, Time: 2017-11-30 00:51:26.256258
Total Rows Read: 23600000, Paired Rows: 1326558, Time: 2017-11-30 00:52:41.083598
Total Rows Read: 23700000, Paired Rows: 1332391, Time: 2017-11-30 00:53:50.032544
Total Rows Read: 23800000, Paired Rows: 1338563, Time: 2017-11-30 00:54:58.359629
Total Rows Read: 23900000, Paired Rows: 1344863, Time: 2017-11-30 00:56:08.912354
Total Rows Read: 24000000, Paired Rows: 1351051, Time: 2017-11-30 00:57:14.982277
Total Rows Read: 24100000, Paired Rows: 1357424, Time: 2017-11-30 00:58:20.363353
Total Rows Read: 24200000, Paired Rows: 1363352, Time: 2017-11-30 00:59:25.285900
Total Rows Read: 24300000, Paired Rows: 1369225, Time: 2017-11-30 01:00:36.096290
Total Rows Read: 24400000, Paired Rows: 1375115, Time: 2017-11-30 01:01:41.749502
Total Rows Read: 24500000, Paired Rows: 1380920, Time: 2017-11-30 01:02:41.310925
Total Rows Read: 24600000, Paired Rows: 1386798, Time: 2017-11-30 01:03:43.437885
Total Rows Read: 24700000, Paired Rows: 1392346, Time: 2017-11-30 01:04:51.828073
Total Rows Read: 24800000, Paired Rows: 1397725, Time: 2017-11-30 01:06:07.248761
Total Rows Read: 24900000, Paired Rows: 1402685, Time: 2017-11-30 01:07:23.968738
Total Rows Read: 25000000, Paired Rows: 1408243, Time: 2017-11-30 01:08:40.186615
Total Rows Read: 25100000, Paired Rows: 1414136, Time: 2017-11-30 01:09:51.608502
Total Rows Read: 25200000, Paired Rows: 1420012, Time: 2017-11-30 01:10:59.203377
Total Rows Read: 25300000, Paired Rows: 1425995, Time: 2017-11-30 01:12:07.233682
Total Rows Read: 25400000, Paired Rows: 1432084, Time: 2017-11-30 01:13:15.109431
Total Rows Read: 25500000, Paired Rows: 1438143, Time: 2017-11-30 01:14:19.586192
Total Rows Read: 25600000, Paired Rows: 1444295, Time: 2017-11-30 01:15:28.078563
Total Rows Read: 25700000, Paired Rows: 1450536, Time: 2017-11-30 01:16:37.093404
Total Rows Read: 25800000, Paired Rows: 1456874, Time: 2017-11-30 01:17:53.345375
Total Rows Read: 25900000, Paired Rows: 1462955, Time: 2017-11-30 01:19:09.665178
Total Rows Read: 26000000, Paired Rows: 1469080, Time: 2017-11-30 01:20:27.062194
Total Rows Read: 26100000, Paired Rows: 1474982, Time: 2017-11-30 01:21:42.743339
Total Rows Read: 26200000, Paired Rows: 1480924, Time: 2017-11-30 01:22:57.590381
Total Rows Read: 26300000, Paired Rows: 1486620, Time: 2017-11-30 01:24:12.250227
Total Rows Read: 26400000, Paired Rows: 1492546, Time: 2017-11-30 01:25:22.922431
Total Rows Read: 26500000, Paired Rows: 1498228, Time: 2017-11-30 01:26:31.782253
Total Rows Read: 26600000, Paired Rows: 1503529, Time: 2017-11-30 01:27:41.459066
Total Rows Read: 26700000, Paired Rows: 1508554, Time: 2017-11-30 01:28:46.493022
Total Rows Read: 26800000, Paired Rows: 1513359, Time: 2017-11-30 01:29:46.579704
Total Rows Read: 26900000, Paired Rows: 1518732, Time: 2017-11-30 01:30:51.280893
Total Rows Read: 27000000, Paired Rows: 1524588, Time: 2017-11-30 01:31:51.158213
Total Rows Read: 27100000, Paired Rows: 1530543, Time: 2017-11-30 01:32:51.745352
Total Rows Read: 27200000, Paired Rows: 1536589, Time: 2017-11-30 01:33:54.527917
Total Rows Read: 27300000, Paired Rows: 1542883, Time: 2017-11-30 01:34:58.417176
Total Rows Read: 27400000, Paired Rows: 1549082, Time: 2017-11-30 01:36:05.740907
Total Rows Read: 27500000, Paired Rows: 1555186, Time: 2017-11-30 01:37:12.756804
Total Rows Read: 27600000, Paired Rows: 1561373, Time: 2017-11-30 01:38:23.733775
Total Rows Read: 27700000, Paired Rows: 1567436, Time: 2017-11-30 01:39:29.550276
Total Rows Read: 27800000, Paired Rows: 1573454, Time: 2017-11-30 01:40:41.231600
Total Rows Read: 27900000, Paired Rows: 1579357, Time: 2017-11-30 01:41:46.501221
Total Rows Read: 28000000, Paired Rows: 1584907, Time: 2017-11-30 01:42:50.342178
Total Rows Read: 28100000, Paired Rows: 1590487, Time: 2017-11-30 01:43:54.241978
Total Rows Read: 28200000, Paired Rows: 1596161, Time: 2017-11-30 01:45:00.473709
Total Rows Read: 28300000, Paired Rows: 1601391, Time: 2017-11-30 01:46:04.493160
Total Rows Read: 28400000, Paired Rows: 1606554, Time: 2017-11-30 01:47:09.685007
Total Rows Read: 28500000, Paired Rows: 1611218, Time: 2017-11-30 01:48:17.346742
Total Rows Read: 28600000, Paired Rows: 1616331, Time: 2017-11-30 01:49:28.160555
Total Rows Read: 28700000, Paired Rows: 1621542, Time: 2017-11-30 01:50:30.144008
Total Rows Read: 28800000, Paired Rows: 1627245, Time: 2017-11-30 01:51:33.060229
Total Rows Read: 28900000, Paired Rows: 1633220, Time: 2017-11-30 01:52:33.389440
Total Rows Read: 29000000, Paired Rows: 1639243, Time: 2017-11-30 01:53:35.751761
Total Rows Read: 29100000, Paired Rows: 1645381, Time: 2017-11-30 01:54:36.222444
Total Rows Read: 29200000, Paired Rows: 1651381, Time: 2017-11-30 01:55:41.673879
Total Rows Read: 29300000, Paired Rows: 1657453, Time: 2017-11-30 01:56:48.172413
Total Rows Read: 29400000, Paired Rows: 1663314, Time: 2017-11-30 01:58:00.866954
Total Rows Read: 29500000, Paired Rows: 1669072, Time: 2017-11-30 01:59:11.829801
Total Rows Read: 29600000, Paired Rows: 1674664, Time: 2017-11-30 02:00:22.009150
Total Rows Read: 29700000, Paired Rows: 1680449, Time: 2017-11-30 02:01:31.720399
Total Rows Read: 29800000, Paired Rows: 1685959, Time: 2017-11-30 02:02:42.919125
Total Rows Read: 29900000, Paired Rows: 1691095, Time: 2017-11-30 02:03:54.442134
Total Rows Read: 30000000, Paired Rows: 1695869, Time: 2017-11-30 02:05:01.960327
Total Rows Read: 30100000, Paired Rows: 1701316, Time: 2017-11-30 02:06:05.153884
Total Rows Read: 30200000, Paired Rows: 1706964, Time: 2017-11-30 02:07:13.474327
Total Rows Read: 30300000, Paired Rows: 1712643, Time: 2017-11-30 02:08:15.191545
Total Rows Read: 30400000, Paired Rows: 1718754, Time: 2017-11-30 02:09:17.638229
Total Rows Read: 30500000, Paired Rows: 1724293, Time: 2017-11-30 02:10:13.850656

Total Rows Read: 30600000, Paired Rows: 1729053, Time: 2017-11-30 02:11:07.892319
Total Rows Read: 30700000, Paired Rows: 1734079, Time: 2017-11-30 02:12:04.695375
Total Rows Read: 30800000, Paired Rows: 1738616, Time: 2017-11-30 02:12:57.906168
Total Rows Read: 30900000, Paired Rows: 1743478, Time: 2017-11-30 02:13:52.753291
Total Rows Read: 31000000, Paired Rows: 1748965, Time: 2017-11-30 02:14:49.878061
Total Rows Read: 31100000, Paired Rows: 1754378, Time: 2017-11-30 02:15:51.644938
Total Rows Read: 31200000, Paired Rows: 1760244, Time: 2017-11-30 02:16:53.894055
Total Rows Read: 31300000, Paired Rows: 1766177, Time: 2017-11-30 02:17:59.981326
Total Rows Read: 31400000, Paired Rows: 1772082, Time: 2017-11-30 02:19:05.929122
Total Rows Read: 31500000, Paired Rows: 1777772, Time: 2017-11-30 02:20:10.958709
Total Rows Read: 31600000, Paired Rows: 1782727, Time: 2017-11-30 02:21:16.269330
Total Rows Read: 31700000, Paired Rows: 1787730, Time: 2017-11-30 02:22:21.785044
Total Rows Read: 31800000, Paired Rows: 1793058, Time: 2017-11-30 02:23:25.628165
Total Rows Read: 31900000, Paired Rows: 1798767, Time: 2017-11-30 02:24:26.197447
Total Rows Read: 32000000, Paired Rows: 1804605, Time: 2017-11-30 02:25:25.866228
Total Rows Read: 32100000, Paired Rows: 1810696, Time: 2017-11-30 02:26:25.104404
Total Rows Read: 32200000, Paired Rows: 1816574, Time: 2017-11-30 02:27:21.452428
Total Rows Read: 32300000, Paired Rows: 1822222, Time: 2017-11-30 02:28:18.353842
Total Rows Read: 32400000, Paired Rows: 1827855, Time: 2017-11-30 02:29:17.450436
Total Rows Read: 32500000, Paired Rows: 1833147, Time: 2017-11-30 02:30:13.670618
Total Rows Read: 32600000, Paired Rows: 1838578, Time: 2017-11-30 02:31:13.258232
Total Rows Read: 32700000, Paired Rows: 1844130, Time: 2017-11-30 02:32:12.117815
Total Rows Read: 32800000, Paired Rows: 1849694, Time: 2017-11-30 02:33:12.009611
Total Rows Read: 32900000, Paired Rows: 1854897, Time: 2017-11-30 02:34:14.733094
Total Rows Read: 33000000, Paired Rows: 1860247, Time: 2017-11-30 02:35:17.299146
Total Rows Read: 33100000, Paired Rows: 1865793, Time: 2017-11-30 02:36:26.315635
Total Rows Read: 33200000, Paired Rows: 1871367, Time: 2017-11-30 02:37:38.665834
Total Rows Read: 33300000, Paired Rows: 1876591, Time: 2017-11-30 02:38:43.928773
Total Rows Read: 33400000, Paired Rows: 1881544, Time: 2017-11-30 02:39:48.865863
Total Rows Read: 33500000, Paired Rows: 1886443, Time: 2017-11-30 02:40:52.894349
Total Rows Read: 33600000, Paired Rows: 1891868, Time: 2017-11-30 02:41:53.398472
Total Rows Read: 33700000, Paired Rows: 1897992, Time: 2017-11-30 02:42:53.985183
Total Rows Read: 33800000, Paired Rows: 1904214, Time: 2017-11-30 02:43:57.332486
Total Rows Read: 33900000, Paired Rows: 1910346, Time: 2017-11-30 02:45:01.164603
Total Rows Read: 34000000, Paired Rows: 1916495, Time: 2017-11-30 02:46:06.383370
Total Rows Read: 34100000, Paired Rows: 1922697, Time: 2017-11-30 02:47:09.933466
Total Rows Read: 34200000, Paired Rows: 1928917, Time: 2017-11-30 02:48:19.309317
Total Rows Read: 34300000, Paired Rows: 1935017, Time: 2017-11-30 02:49:24.904508
Total Rows Read: 34400000, Paired Rows: 1940939, Time: 2017-11-30 02:50:32.162173
Total Rows Read: 34500000, Paired Rows: 1946936, Time: 2017-11-30 02:51:40.754339
Total Rows Read: 34600000, Paired Rows: 1952930, Time: 2017-11-30 02:52:53.418721
Total Rows Read: 34700000, Paired Rows: 1958843, Time: 2017-11-30 02:54:05.537631
Total Rows Read: 34800000, Paired Rows: 1964362, Time: 2017-11-30 02:55:21.473996
Total Rows Read: 34900000, Paired Rows: 1970001, Time: 2017-11-30 02:56:32.755731
Total Rows Read: 35000000, Paired Rows: 1975776, Time: 2017-11-30 02:57:47.974658
Total Rows Read: 35100000, Paired Rows: 1981178, Time: 2017-11-30 02:59:00.007999
Total Rows Read: 35200000, Paired Rows: 1986099, Time: 2017-11-30 03:00:10.252742
Total Rows Read: 35300000, Paired Rows: 1990717, Time: 2017-11-30 03:01:29.988431
Total Rows Read: 35400000, Paired Rows: 1995703, Time: 2017-11-30 03:02:40.866286
Total Rows Read: 35500000, Paired Rows: 2001096, Time: 2017-11-30 03:03:53.764789
Total Rows Read: 35600000, Paired Rows: 2006604, Time: 2017-11-30 03:05:08.394570
Total Rows Read: 35700000, Paired Rows: 2012389, Time: 2017-11-30 03:06:19.978513
Total Rows Read: 35800000, Paired Rows: 2018299, Time: 2017-11-30 03:07:35.494446
Total Rows Read: 35900000, Paired Rows: 2024327, Time: 2017-11-30 03:08:43.592377
Total Rows Read: 36000000, Paired Rows: 2030287, Time: 2017-11-30 03:09:53.599607
Total Rows Read: 36100000, Paired Rows: 2036250, Time: 2017-11-30 03:11:09.510074
Total Rows Read: 36200000, Paired Rows: 2042352, Time: 2017-11-30 03:12:25.069661
Total Rows Read: 36300000, Paired Rows: 2048516, Time: 2017-11-30 03:13:45.453108
Total Rows Read: 36400000, Paired Rows: 2054352, Time: 2017-11-30 03:15:05.710934
Total Rows Read: 36500000, Paired Rows: 2060221, Time: 2017-11-30 03:16:21.568648
Total Rows Read: 36600000, Paired Rows: 2066125, Time: 2017-11-30 03:17:32.509778
Total Rows Read: 36700000, Paired Rows: 2071850, Time: 2017-11-30 03:18:35.403028
Total Rows Read: 36800000, Paired Rows: 2077467, Time: 2017-11-30 03:19:36.595072
Total Rows Read: 36900000, Paired Rows: 2083258, Time: 2017-11-30 03:20:41.365240
Total Rows Read: 37000000, Paired Rows: 2088964, Time: 2017-11-30 03:21:44.914060
Total Rows Read: 37100000, Paired Rows: 2094297, Time: 2017-11-30 03:22:58.881463
Total Rows Read: 37200000, Paired Rows: 2099173, Time: 2017-11-30 03:24:03.233575
Total Rows Read: 37300000, Paired Rows: 2104665, Time: 2017-11-30 03:25:02.426425
Total Rows Read: 37400000, Paired Rows: 2110633, Time: 2017-11-30 03:26:02.506490
Total Rows Read: 37500000, Paired Rows: 2116625, Time: 2017-11-30 03:26:59.195001
Total Rows Read: 37600000, Paired Rows: 2122686, Time: 2017-11-30 03:27:58.164050
Total Rows Read: 37700000, Paired Rows: 2128674, Time: 2017-11-30 03:28:57.962002
Total Rows Read: 37800000, Paired Rows: 2134877, Time: 2017-11-30 03:29:58.422852
Total Rows Read: 37900000, Paired Rows: 2141050, Time: 2017-11-30 03:31:03.564478
Total Rows Read: 38000000, Paired Rows: 2147086, Time: 2017-11-30 03:32:09.006132
Total Rows Read: 38100000, Paired Rows: 2153298, Time: 2017-11-30 03:33:19.540535
Total Rows Read: 38200000, Paired Rows: 2159466, Time: 2017-11-30 03:34:26.023237
Total Rows Read: 38300000, Paired Rows: 2165547, Time: 2017-11-30 03:35:32.179304
Total Rows Read: 38400000, Paired Rows: 2171454, Time: 2017-11-30 03:36:36.993101
Total Rows Read: 38500000, Paired Rows: 2177365, Time: 2017-11-30 03:37:48.749047
Total Rows Read: 38600000, Paired Rows: 2183230, Time: 2017-11-30 03:38:54.996257
Total Rows Read: 38700000, Paired Rows: 2188924, Time: 2017-11-30 03:39:59.883137
Total Rows Read: 38800000, Paired Rows: 2194519, Time: 2017-11-30 03:41:08.409930
Total Rows Read: 38900000, Paired Rows: 2199782, Time: 2017-11-30 03:42:13.492393
Total Rows Read: 39000000, Paired Rows: 2204733, Time: 2017-11-30 03:43:21.182771
Total Rows Read: 39100000, Paired Rows: 2209627, Time: 2017-11-30 03:44:25.217430
Total Rows Read: 39200000, Paired Rows: 2215281, Time: 2017-11-30 03:45:32.650155
Total Rows Read: 39300000, Paired Rows: 2221110, Time: 2017-11-30 03:46:36.649269
Total Rows Read: 39400000, Paired Rows: 2227149, Time: 2017-11-30 03:47:35.115316
Total Rows Read: 39500000, Paired Rows: 2233430, Time: 2017-11-30 03:48:36.023078
Total Rows Read: 39600000, Paired Rows: 2239512, Time: 2017-11-30 03:49:40.550479
Total Rows Read: 39700000, Paired Rows: 2245717, Time: 2017-11-30 03:50:44.566680
Total Rows Read: 39800000, Paired Rows: 2251681, Time: 2017-11-30 03:51:49.933279
Total Rows Read: 39900000, Paired Rows: 2257704, Time: 2017-11-30 03:53:02.302917
Total Rows Read: 40000000, Paired Rows: 2263556, Time: 2017-11-30 03:54:12.331775
Total Rows Read: 40100000, Paired Rows: 2269515, Time: 2017-11-30 03:55:18.275630
Total Rows Read: 40200000, Paired Rows: 2275250, Time: 2017-11-30 03:56:22.400702
Total Rows Read: 40300000, Paired Rows: 2280635, Time: 2017-11-30 03:57:24.218179
Total Rows Read: 40400000, Paired Rows: 2286293, Time: 2017-11-30 03:58:31.779765
Total Rows Read: 40500000, Paired Rows: 2291706, Time: 2017-11-30 03:59:38.977139

Total Rows Read: 40600000, Paired Rows: 2297229, Time: 2017-11-30 04:00:41.712056
Total Rows Read: 40700000, Paired Rows: 2302497, Time: 2017-11-30 04:01:46.243281
Total Rows Read: 40800000, Paired Rows: 2307393, Time: 2017-11-30 04:02:52.838837
Total Rows Read: 40900000, Paired Rows: 2312399, Time: 2017-11-30 04:03:52.928411
Total Rows Read: 41000000, Paired Rows: 2318044, Time: 2017-11-30 04:04:54.789395
Total Rows Read: 41100000, Paired Rows: 2323662, Time: 2017-11-30 04:06:00.088474
Total Rows Read: 41200000, Paired Rows: 2329644, Time: 2017-11-30 04:07:03.511341
Total Rows Read: 41300000, Paired Rows: 2335668, Time: 2017-11-30 04:08:09.768725
Total Rows Read: 41400000, Paired Rows: 2341691, Time: 2017-11-30 04:09:18.117406
Total Rows Read: 41500000, Paired Rows: 2347662, Time: 2017-11-30 04:10:37.181234
Total Rows Read: 41600000, Paired Rows: 2353511, Time: 2017-11-30 04:11:46.665509
Total Rows Read: 41700000, Paired Rows: 2359102, Time: 2017-11-30 04:12:56.728707
Total Rows Read: 41800000, Paired Rows: 2364743, Time: 2017-11-30 04:14:08.683458
Total Rows Read: 41900000, Paired Rows: 2370238, Time: 2017-11-30 04:15:22.160671
Total Rows Read: 42000000, Paired Rows: 2375897, Time: 2017-11-30 04:16:37.150651
Total Rows Read: 42100000, Paired Rows: 2381598, Time: 2017-11-30 04:17:48.088921
Total Rows Read: 42200000, Paired Rows: 2386972, Time: 2017-11-30 04:19:01.665608
Total Rows Read: 42300000, Paired Rows: 2391915, Time: 2017-11-30 04:20:13.087754
Total Rows Read: 42400000, Paired Rows: 2396790, Time: 2017-11-30 04:21:21.485503
Total Rows Read: 42500000, Paired Rows: 2402231, Time: 2017-11-30 04:22:32.794901
Total Rows Read: 42600000, Paired Rows: 2408110, Time: 2017-11-30 04:23:45.551809
Total Rows Read: 42700000, Paired Rows: 2414199, Time: 2017-11-30 04:25:04.003144
Total Rows Read: 42800000, Paired Rows: 2420112, Time: 2017-11-30 04:26:16.512310
Total Rows Read: 42900000, Paired Rows: 2426045, Time: 2017-11-30 04:27:25.467854
Total Rows Read: 43000000, Paired Rows: 2432144, Time: 2017-11-30 04:28:38.751005
Total Rows Read: 43100000, Paired Rows: 2437996, Time: 2017-11-30 04:29:47.292659
Total Rows Read: 43200000, Paired Rows: 2443694, Time: 2017-11-30 04:30:57.994995
Total Rows Read: 43300000, Paired Rows: 2449304, Time: 2017-11-30 04:32:07.324403
Total Rows Read: 43400000, Paired Rows: 2454668, Time: 2017-11-30 04:33:18.276237
Total Rows Read: 43500000, Paired Rows: 2459771, Time: 2017-11-30 04:34:26.959516
Total Rows Read: 43600000, Paired Rows: 2464871, Time: 2017-11-30 04:35:45.205524
Total Rows Read: 43700000, Paired Rows: 2470783, Time: 2017-11-30 04:37:05.029297
Total Rows Read: 43800000, Paired Rows: 2476513, Time: 2017-11-30 04:38:23.999323
Total Rows Read: 43900000, Paired Rows: 2481810, Time: 2017-11-30 04:39:43.217239
Total Rows Read: 44000000, Paired Rows: 2486701, Time: 2017-11-30 04:41:00.120034
Total Rows Read: 44100000, Paired Rows: 2492218, Time: 2017-11-30 04:42:15.358969
Total Rows Read: 44200000, Paired Rows: 2498199, Time: 2017-11-30 04:43:25.689279
Total Rows Read: 44300000, Paired Rows: 2504187, Time: 2017-11-30 04:44:35.654599
Total Rows Read: 44400000, Paired Rows: 2510225, Time: 2017-11-30 04:45:47.871425
Total Rows Read: 44500000, Paired Rows: 2516473, Time: 2017-11-30 04:47:03.272898
Total Rows Read: 44600000, Paired Rows: 2522955, Time: 2017-11-30 04:48:16.090005
Total Rows Read: 44700000, Paired Rows: 2529235, Time: 2017-11-30 04:49:28.938844
Total Rows Read: 44800000, Paired Rows: 2535478, Time: 2017-11-30 04:50:40.217394
Total Rows Read: 44900000, Paired Rows: 2541676, Time: 2017-11-30 04:51:50.950450
Total Rows Read: 45000000, Paired Rows: 2547615, Time: 2017-11-30 04:53:04.283455
Total Rows Read: 45100000, Paired Rows: 2553453, Time: 2017-11-30 04:54:15.210639
Total Rows Read: 45200000, Paired Rows: 2559184, Time: 2017-11-30 04:55:30.056947
Total Rows Read: 45300000, Paired Rows: 2565039, Time: 2017-11-30 04:56:38.919098
Total Rows Read: 45400000, Paired Rows: 2570767, Time: 2017-11-30 04:57:48.216197
Total Rows Read: 45500000, Paired Rows: 2576599, Time: 2017-11-30 04:58:57.934802
Total Rows Read: 45600000, Paired Rows: 2582077, Time: 2017-11-30 05:00:06.544542
Total Rows Read: 45700000, Paired Rows: 2587106, Time: 2017-11-30 05:01:19.048635
Total Rows Read: 45800000, Paired Rows: 2591954, Time: 2017-11-30 05:02:26.355579
Total Rows Read: 45900000, Paired Rows: 2597260, Time: 2017-11-30 05:03:38.368495
Total Rows Read: 46000000, Paired Rows: 2603143, Time: 2017-11-30 05:04:49.359908
Total Rows Read: 46100000, Paired Rows: 2609005, Time: 2017-11-30 05:06:05.923865
Total Rows Read: 46200000, Paired Rows: 2615101, Time: 2017-11-30 05:07:19.954689
Total Rows Read: 46300000, Paired Rows: 2621271, Time: 2017-11-30 05:08:32.879287
Total Rows Read: 46400000, Paired Rows: 2627298, Time: 2017-11-30 05:09:47.046030
Total Rows Read: 46500000, Paired Rows: 2633524, Time: 2017-11-30 05:10:57.880730
Total Rows Read: 46600000, Paired Rows: 2639855, Time: 2017-11-30 05:12:07.828863
Total Rows Read: 46700000, Paired Rows: 2645706, Time: 2017-11-30 05:13:15.799669
Total Rows Read: 46800000, Paired Rows: 2651553, Time: 2017-11-30 05:14:25.592994
Total Rows Read: 46900000, Paired Rows: 2657213, Time: 2017-11-30 05:15:37.857663
Total Rows Read: 47000000, Paired Rows: 2662962, Time: 2017-11-30 05:16:50.966355
Total Rows Read: 47100000, Paired Rows: 2668805, Time: 2017-11-30 05:18:03.138083
Total Rows Read: 47200000, Paired Rows: 2674861, Time: 2017-11-30 05:19:16.435676
Total Rows Read: 47300000, Paired Rows: 2680836, Time: 2017-11-30 05:20:31.128024
Total Rows Read: 47400000, Paired Rows: 2686556, Time: 2017-11-30 05:21:47.170990
Total Rows Read: 47500000, Paired Rows: 2691926, Time: 2017-11-30 05:23:00.837512
Total Rows Read: 47600000, Paired Rows: 2697117, Time: 2017-11-30 05:24:17.593311
Total Rows Read: 47700000, Paired Rows: 2701971, Time: 2017-11-30 05:25:33.521452
Total Rows Read: 47800000, Paired Rows: 2707305, Time: 2017-11-30 05:26:48.561344
Total Rows Read: 47900000, Paired Rows: 2713114, Time: 2017-11-30 05:28:03.813018
Total Rows Read: 48000000, Paired Rows: 2719078, Time: 2017-11-30 05:29:19.018975
Total Rows Read: 48100000, Paired Rows: 2725048, Time: 2017-11-30 05:30:34.561390
Total Rows Read: 48200000, Paired Rows: 2730977, Time: 2017-11-30 05:31:46.623228
Total Rows Read: 48300000, Paired Rows: 2736860, Time: 2017-11-30 05:33:02.186398
Total Rows Read: 48400000, Paired Rows: 2742796, Time: 2017-11-30 05:34:15.126010
Total Rows Read: 48500000, Paired Rows: 2748807, Time: 2017-11-30 05:35:29.897677
Total Rows Read: 48600000, Paired Rows: 2754784, Time: 2017-11-30 05:36:47.406006
Total Rows Read: 48700000, Paired Rows: 2760910, Time: 2017-11-30 05:38:03.484433
Total Rows Read: 48800000, Paired Rows: 2766853, Time: 2017-11-30 05:39:20.292835
Total Rows Read: 48900000, Paired Rows: 2772874, Time: 2017-11-30 05:40:35.178133
Total Rows Read: 49000000, Paired Rows: 2778552, Time: 2017-11-30 05:41:41.979283
Total Rows Read: 49100000, Paired Rows: 2784346, Time: 2017-11-30 05:42:50.708171
Total Rows Read: 49200000, Paired Rows: 2790081, Time: 2017-11-30 05:43:59.661610
Total Rows Read: 49300000, Paired Rows: 2795964, Time: 2017-11-30 05:45:15.502086
Total Rows Read: 49400000, Paired Rows: 2801428, Time: 2017-11-30 05:46:36.288248
Total Rows Read: 49500000, Paired Rows: 2806337, Time: 2017-11-30 05:47:51.843441
Total Rows Read: 49600000, Paired Rows: 2811310, Time: 2017-11-30 05:49:05.514470
Total Rows Read: 49700000, Paired Rows: 2816902, Time: 2017-11-30 05:50:13.620628
Total Rows Read: 49800000, Paired Rows: 2822641, Time: 2017-11-30 05:51:19.228775
Total Rows Read: 49900000, Paired Rows: 2828777, Time: 2017-11-30 05:52:23.343162
Total Rows Read: 50000000, Paired Rows: 2835010, Time: 2017-11-30 05:53:33.789064
Total Rows Read: 50100000, Paired Rows: 2841284, Time: 2017-11-30 05:54:46.531356
Total Rows Read: 50200000, Paired Rows: 2847571, Time: 2017-11-30 05:56:02.232748
Total Rows Read: 50300000, Paired Rows: 2853617, Time: 2017-11-30 05:57:13.811669
Total Rows Read: 50400000, Paired Rows: 2859951, Time: 2017-11-30 05:58:28.683928
Total Rows Read: 50500000, Paired Rows: 2866015, Time: 2017-11-30 05:59:42.302172

Total Rows Read: 50600000, Paired Rows: 2872127, Time: 2017-11-30 06:01:01.558445
Total Rows Read: 50700000, Paired Rows: 2878083, Time: 2017-11-30 06:02:16.718434
Total Rows Read: 50800000, Paired Rows: 2883898, Time: 2017-11-30 06:03:35.647090
Total Rows Read: 50900000, Paired Rows: 2889708, Time: 2017-11-30 06:05:16.054688
Total Rows Read: 51000000, Paired Rows: 2895800, Time: 2017-11-30 06:06:50.473966
Total Rows Read: 51100000, Paired Rows: 2901643, Time: 2017-11-30 06:08:27.457736
Total Rows Read: 51200000, Paired Rows: 2907129, Time: 2017-11-30 06:09:56.350859
Total Rows Read: 51300000, Paired Rows: 2912168, Time: 2017-11-30 06:11:30.502052
Total Rows Read: 51400000, Paired Rows: 2917093, Time: 2017-11-30 06:12:50.095974
Total Rows Read: 51500000, Paired Rows: 2922589, Time: 2017-11-30 06:14:08.289177
Total Rows Read: 51600000, Paired Rows: 2928363, Time: 2017-11-30 06:15:21.502240
Total Rows Read: 51700000, Paired Rows: 2934219, Time: 2017-11-30 06:16:39.200560
Total Rows Read: 51800000, Paired Rows: 2940311, Time: 2017-11-30 06:17:58.130601
Total Rows Read: 51900000, Paired Rows: 2946588, Time: 2017-11-30 06:19:27.173312
Total Rows Read: 52000000, Paired Rows: 2952714, Time: 2017-11-30 06:21:04.117358
Total Rows Read: 52100000, Paired Rows: 2959013, Time: 2017-11-30 06:22:44.047997
Total Rows Read: 52200000, Paired Rows: 2965047, Time: 2017-11-30 06:24:48.858646
Total Rows Read: 52300000, Paired Rows: 2971041, Time: 2017-11-30 06:26:52.549494
Total Rows Read: 52400000, Paired Rows: 2977081, Time: 2017-11-30 06:28:33.174329
Total Rows Read: 52500000, Paired Rows: 2983047, Time: 2017-11-30 06:30:03.634162
Total Rows Read: 52600000, Paired Rows: 2988701, Time: 2017-11-30 06:31:29.736239
Total Rows Read: 52700000, Paired Rows: 2994299, Time: 2017-11-30 06:32:57.505313
Total Rows Read: 52800000, Paired Rows: 3000083, Time: 2017-11-30 06:34:25.110040
Total Rows Read: 52900000, Paired Rows: 3005635, Time: 2017-11-30 06:35:51.085685
Total Rows Read: 53000000, Paired Rows: 3010901, Time: 2017-11-30 06:37:17.849715
Total Rows Read: 53100000, Paired Rows: 3015578, Time: 2017-11-30 06:38:44.407439
Total Rows Read: 53200000, Paired Rows: 3020510, Time: 2017-11-30 06:40:15.088821
Total Rows Read: 53300000, Paired Rows: 3025768, Time: 2017-11-30 06:41:46.234831
Total Rows Read: 53400000, Paired Rows: 3031273, Time: 2017-11-30 06:43:06.090844
Total Rows Read: 53500000, Paired Rows: 3037154, Time: 2017-11-30 06:44:24.400180
Total Rows Read: 53600000, Paired Rows: 3043061, Time: 2017-11-30 06:45:43.145493
Total Rows Read: 53700000, Paired Rows: 3048971, Time: 2017-11-30 06:46:58.756694
Total Rows Read: 53800000, Paired Rows: 3054924, Time: 2017-11-30 06:48:13.767237
Total Rows Read: 53900000, Paired Rows: 3060733, Time: 2017-11-30 06:49:26.023664